body {
  background-image: url('/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login_class {
  height: auto;
  width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container_text_botones {
  width: fit-content;
}

.texto {
  margin-top: 20px;
}
