<div class="container mt-5">
  <form>
    <div class="row">
      <!-- Columna izquierda -->
      <div class="col-md-6">
        <div class="mb-3 d-flex justify-content-between align-items-center">
          <div style="width: 70%;">
            <label class="form-label">Elegir Odontólogo:</label>
            <select class="form-select">
              <option>Dr. Rojas Abdul</option>
              <option>Dra. Martínez</option>
            </select>
          </div>
          <div class="form-check ms-3 mt-4">
            <input type="checkbox" class="form-check-input" [formControl]="esPrimeraCita" id="primeraCita">
            <label class="form-check-label text-danger" for="primeraCita">
              ¿Es mi primera cita?
            </label>
          </div>
        </div>

        @if (!esPrimeraCita.value) {
          <div class="mb-3" style="width: 70%;">
            <label class="form-label">Tipo de seguimiento</label>
            <select class="form-select">
              <option>Post operatorio</option>
              <option>Control</option>
            </select>
          </div>

          <div class="mb-3" style="width: 70%;">
            <label class="form-label">Elegir tratamiento:</label>
            <select class="form-select">
              <option>Limpieza de rutina</option>
              <option>Ortodoncia</option>
            </select>
          </div>
        }

        <div class="text-start">
          <button type="submit" class="btn btn-info text-white">Programar cita</button>
        </div>
      </div>

      <!-- Columna derecha -->
      <div class="col-md-6" >
        <div class="mb-3">
          <label class="form-label" >Elegir Fecha:</label>
          <input type="date" style="width: 70%;" class="form-control" [formControl]="fecha" />
        </div>

        <div class="mb-3">
          <label class="form-label">Escoge horario:</label>
          <select class="form-select" style="width: 70%;" [formControl]="hora">
            <option>07:30</option>
            <option>08:00</option>
          </select>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" [formControl]="recordatorio" id="recordatorio" />
          <label class="form-check-label" for="recordatorio">¿Recibir recordatorio?</label>
        </div>
      </div>
    </div>
  </form>
</div>