<div class="container mt-5">
  <form>
    <div class="row">
      <!-- Columna izquierda -->
      <div class="col-md-6">
        <div class="mb-3 d-flex justify-content-between align-items-center">
          <div style="width: 70%;">
          <label class="form-label">Elegir Odontólogo:</label>
            <select
            class="form-select"
            [(ngModel)]="odontologoSeleccionadoNombreCompleto"
            [ngModelOptions]="{ standalone: true }"
            (change)="onOdontologoChange()"
            >
            <option *ngFor="let o of odontologos" [value]="o.nombres + ' ' + o.apellidos">
              {{ o.nombres }} {{ o.apellidos }}
            </option>
          </select>
          </div>
          
        </div>

        
          <div class="mb-3" style="width: 70%;">
            <label class="form-label">Tipo de seguimiento</label>
            <select
            class="form-select"
            [(ngModel)]="seguimientoSeleccionado"
            [ngModelOptions]="{ standalone: true }"
            (change)="onSeguimientoChange()"
            >
            <option *ngFor="let s of seguimientos" [value]="s.descripcion">{{ s.descripcion }}</option>
          </select>
          </div>

          <div class="mb-3" style="width: 70%;">
            <label class="form-label">Elegir tratamiento:</label>
            <select
            class="form-select"
            [(ngModel)]="tratamientoSeleccionado"
            [ngModelOptions]="{ standalone: true }"
            [disabled]="tratamientosFiltrados.length === 0"
          >
            <option *ngFor="let t of tratamientosFiltrados" [value]="t.tratamientoDescripcion">
              {{ t.tratamientoDescripcion }}
            </option>
          </select>
          </div>
        

        <div class="text-start">
          <button type="button" class="btn btn-info text-white" (click)="enviarDatos();programarCita()">Programar cita</button>
        </div>
      </div>

      <!-- Columna derecha -->
      <div class="col-md-6" >
        <div class="mb-3">
          <label class="form-label" >Elegir Fecha:</label>
          <input type="date" style="width: 70%;" class="form-control" [formControl]="fecha" [min]="minDate" />
        </div>

        <div class="mb-3">
          <label class="form-label mt-3">Escoge horario:</label>
            <select
            class="form-select"
            [(ngModel)]="horaSeleccionada"
            [ngModelOptions]="{ standalone: true }"
            [disabled]="horariosFiltrados.length === 0"
          >
            <option *ngFor="let h of horariosFiltrados" [value]="h.horaDisp">
              {{ h.horaDisp.substring(0, 5)}}
            </option>
          </select>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" [formControl]="recordatorio" id="recordatorio" />
          <label class="form-check-label" for="recordatorio">¿Recibir recordatorio?</label>
        </div>
      </div>
    </div>
  </form>
</div>