<div class="container mt-5">
  <div class="card p-4 shadow-lg mx-auto" style="max-width: 400px;">
    <h4 class="text-center mb-4">Simulación de Pasarela de Pago</h4>

    <button class="btn btn-primary w-100" (click)="confirmarPago()">Pagar S/ {{ citaParaEnvio?.precioConsulta }}</button>
  </div>
    <div class="text-center mt-2">
      <button class="btn btn-outline-secondary btn-sm" (click)="mandar()" style="opacity: 0.3;">
        Mandar
      </button>
    </div>

  <div class="alert alert-success mt-4 text-center" *ngIf="pagoExitoso">
    ¡Pago simulado exitosamente!
  </div>
</div>
