<div class="contenedorprincipal">
<div class="login_class">
    <div class="container_text_botones">
        <div class="texto">
            <h4><strong>Odontologos Dentist 1019</strong></h4>
        </div>

        <div class="usuario_contraseña">
            <form>
                <div class="form-group" style="margin-top: 30px;">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" style = "width: 300px;">
                </div>

                <div class="form-group" style="margin-top: 20px;">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>

                <div class="last" style="display: flex;flex-direction: column; padding: 1;">
                <button (click)="goToDoctorPage()" type="button" class="btn btn-primary" style="margin-top: 30px;">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
  
